body {
    background-image: url("../images/Crystals\ Background.jpg");
    background-repeat: repeat;
}

#title {
    width: 250px;
    padding: 4px;
    margin-bottom: 10px;
    color: white;
    background-color: chocolate;
}

#screen {
    overflow: auto;
}

#screen div {
    float: left;
}